.client {
    padding-bottom: 50px;

    &__header {
        margin-bottom: 50px;
    }

    &__grid {
        @include grid();
    }

    &__content {
        @include grid-col();
        @include grid-size(9)
    }

    &__aside {
        @include grid-col();
        @include grid-size(3);
        position: relative;
    }

    &__ops {
        display: flex;
        align-items: center;
    }

    &__controls {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__section {
        background-color: $color-brand-opaque-8;
        border-radius: 8px;
        padding: 28px 20px;
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__nav {
        background-color: $color-brand-3;
        border-radius: 4px;
        padding: 22px 10px;
        position: sticky;
        top: 100px;
    }

    &__nav-list {
        @include unlist();
    }

    &__nav-item {
        cursor: pointer;
        padding: 10px 14px 10px 18px;
        border-radius: 4px;
        background-color: transparent;

        &:hover {
            background-color: $color-white-15;
        }
    }

    &__nav-link {
        color: $color-white;
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;

        & .icon {
            font-size: 19px;
            margin-right: 20px;
            flex-shrink: 0;
        }
    }

    &__link-qty {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #DEE2F3;
        display: inline-block;
        text-align: center;
        line-height: 18px;
        color: $color-brand-3;
        margin-left: auto;
        flex-shrink: 0;
    }

    &__section-header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    &__header-controls {
      margin-left: auto;
    }

    &__id {
        @include unlist();
        padding: 32px 26px 0;
    }

    &__id-item {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 26px;
    }

    &__key {
        width: 40%;
        flex-shrink: 0;
        font-weight: 700;
    }

    &__value {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__feed {
        box-shadow: inset 0 0 0 1px $color-brand-opaque-10;
        border-radius: 4px;
        margin-bottom: 32px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        display: flex;
        align-items: flex-start;

        & > .icon {
            font-size: 19px;
            margin-right: 17px;
            flex-shrink: 0;
        }

        &-more {
            margin-top: 10px;
            color: $color-brand-3;
        }
    }

    &__files-ready, &__files-upload {
      background-color: $color-white;
      border-radius: 4px;
    }

    &__files-ready {
      display: flex;
      flex-wrap: wrap;
      padding: 16px 10px;
      margin-bottom: 14px;
    }

    &__files-item {
      padding: 14px 8px;
      flex: 0 0 25%;
    }

    &__files-upload {
      display: flex;
      align-items: center;
      padding: 26px 70px 26px 18px;
    }

    &__files-submit {
      margin-left: 42px;
    }

}
