@import "blocks/text";
@import "blocks/button";
@import "blocks/section";
@import "blocks/cards";
@import "blocks/card";
@import "blocks/panel";
@import "blocks/ui";
@import "blocks/index-search";
@import "blocks/home-themes";
@import "blocks/form-drop";
@import "blocks/form";
@import "blocks/pagination";

@import "blocks/map-card";

@import "blocks/banks-slider";
@import "blocks/flat";
@import "blocks/complex";
@import "blocks/complex-info";
@import "blocks/complex-news";
@import "blocks/complex-another";
@import "blocks/complex-subscribe";
@import "blocks/complex-offers";
@import "blocks/complex-calc";
@import "blocks/complex-infrastructure";
@import "blocks/lk-nav";
@import "blocks/lk-orders";

@import "blocks/lk-order";
@import "blocks/order-history";
@import "blocks/order-comments";
@import "blocks/banners";
@import "blocks/lk-clients";
@import "blocks/modal-form";
@import "blocks/lk-client";
