section.section.empty__section
  .empty-block
    .empty-block__image
      +svg_icon(require('../images/svg/no_data.svg').default)
    h2.h2.empty-block__title
      | Пока в Вашем списке нет заявок
    p.empty-block__text
      | Заявки добавляются через детальную страницу квартиры.
    button.button.button_view_default
      | Перейти к выбору квартиры
  