include ../mixins/svg_icon

section.section.section_view_white.complex__section-about
  #anchor-about
  .wrapper
    .wrapper__center
      .section__title О ЖК Легенда
      .complex__about
        .complex__about-col.complex__about-preview.
          Новый жилой комплекс с яркой концепцией BRAVO возводится в Янино. Жить в окружении природы 
          и при этом быстро добираться в город по делам – здесь это легко!
        .complex__about-col.complex__about-text
          p.
            Жилой комплекс BRAVO отличается компактностью, что сделает жизнь в нем уютной и комфортной. 
            Дом состоит из трех секций по 8 этажей, которые возводятся по монолитной технологии. 
            Фасады выполнены в белом и оранжевом цвете, что делает пространство вокруг разнообразнее.
          p.
            Первые этажи коммерческие – здесь откроются необходимые жильцам магазины, аптека, отделение банка. 
            Просторные холлы будут оформлены в оранжевом, коричневом и белом цветах.
          p.
            Входная группа полностью прозрачная, что обеспечивает не только естественное освещение, но и безопасность. 
            В доме представлены квартиры разных метражей, они сдаются с предчистовой отделкой, так и полностью 
            готовой в светлой или темной гамме.
      .complex__about-features
        ul.complex__about-features_list
          li.complex__about-feature
            | Закрытая территория
          li.complex__about-feature
            | Зона для отдыха
          li.complex__about-feature
            | Система видеонаблюдения
          li.complex__about-feature
            | Детские площадки
          li.complex__about-feature
            | Спортивные тренажеры
          li.complex__about-feature
            | Консьерж в каждом подъезде