section.section.section_view_gray.section__another
  #anchor-others
  .wrapper
    .wrapper__center
      .block__title.block__title-buttons
        h2.h2 Другие ЖК застройщика
        .block__title-nav
          ul.block__title-navs(id="anotherBlocks-nav")
            li.block__title-navs_item.prev
              +svg_icon(require("../images/svg/icon-left_arrow.svg").default).icon.icon-dark_stroke
            li.block__title-navs_item.next
              +svg_icon(require("../images/svg/icon-right_arrow.svg").default).icon.icon-dark_stroke
    .complex__blocks
      .complex__blocks-slider(id="anotherBlocks-slider")
        .complex__blocks-item
          +card({
            pills: ['Комиссия 2%'],
            id: 1,
            title: 'Северный вальс',
            address: 'Всеволожск г., Дорога Жизни ш.',
            builder: 'Застройщик: Петрострой',
            buildings: '6 корпусов',
            buildFrom: '3 кв. 2019',
            buildTo: '4 кв. 2020',
            options: ['Аппартаменты', 'Переуступки застр.']
          })
        .complex__blocks-item
          +card({
            pills: ['Комиссия 2%'],
            id: 2,
            title: 'Северный вальс',
            address: 'Всеволожск г., Дорога Жизни ш.',
            builder: 'Застройщик: Петрострой',
            buildings: '6 корпусов',
            buildFrom: '3 кв. 2019',
            buildTo: '4 кв. 2020',
            options: ['Аппартаменты', 'Переуступки застр.']
          })
        .complex__blocks-item
          +card({
            pills: ['Комиссия 2%'],
            id: 3,
            title: 'Северный вальс',
            address: 'Всеволожск г., Дорога Жизни ш.',
            builder: 'Застройщик: Петрострой',
            buildings: '6 корпусов',
            buildFrom: '3 кв. 2019',
            buildTo: '4 кв. 2020',
            options: ['Аппартаменты', 'Переуступки застр.']
          })
        .complex__blocks-item
          +card({
            pills: ['Комиссия 2%'],
            id: 4,
            title: 'Северный вальс',
            address: 'Всеволожск г., Дорога Жизни ш.',
            builder: 'Застройщик: Петрострой',
            buildings: '6 корпусов',
            buildFrom: '3 кв. 2019',
            buildTo: '4 кв. 2020',
            options: ['Аппартаменты', 'Переуступки застр.']
          }) 
        .complex__blocks-item
          +card({
            pills: ['Комиссия 2%'],
            id: 5,
            title: 'Северный вальс',
            address: 'Всеволожск г., Дорога Жизни ш.',
            builder: 'Застройщик: Петрострой',
            buildings: '6 корпусов',
            buildFrom: '3 кв. 2019',
            buildTo: '4 кв. 2020',
            options: ['Аппартаменты', 'Переуступки застр.']
          })