include ../mixins/calculator

- 
  var calc = {
      id: 'mortgage',
      label: 'Ваш ежемесячный платеж составит *',
      inputs: [
        {
          name: 'price',
          start: 1000000,
          min:  1000000,
          max: 10000000,
          step: 50000,
          postfix: ' р.',
          isPrice: true,
          label: 'Стоимость квартиры'
        },
        {
          name: 'period',
          start: 3,
          min:  1,
          max: 30,
          step: 1,
          postfix: '',
          isPrice: false,
          label: 'Срок кредита, лет'
        },
        {
          name: 'prepay',
          start: 300000,
          min:  100000,
          max: 5000000,
          step: 50000,
          postfix: ' р.',
          isPrice: true,
          label: 'Первоначальный взнос'
        },
        {
          name: 'percent',
          start: 10,
          min:  5,
          max: 40,
          step: 0.1,
          postfix: '',
          isPrice: false,
          label: 'Процентная ставка, %'
        },
      ]
    };

section.section.section_view_dark.section__calc
  #anchor-calc
  .wrapper
    .wrapper__center
      .block__title
        .h2 Рассчитайте ипотеку прямо сейчас
    .calc__grid
      .calc__form.calc__col.mortgage__calc
        +calculator(calc)
      .calc__manager.calc__col
        .calc__manager-description
          | Для расчета точных платежей обратитесь к специалистам ипотечного Центра.
        .calc__manager-card 
          .calc__manager-photo(style={ 'background-image': `url(${require('../images/jpg/manager.jpg')})` })
          .calc__manager-content
            h3.h3.calc__manager-name
              | Иван Солин
            .calc__manager-label
              | Специалист по ипотеке
            .calc__manager-contacts
              a( class="lk-order__contacts-link" href="tel:+79052813539")
                | +7 (905) 281 35 39
              a( class="lk-order__contacts-link" href="https://telegram.im/@Andrey_Basov" target="_blank")
                | @Andrey_Basov
              a( class="lk-order__contacts-link" href="mailto:basov@1-an.ru")
                | basov@1-an.ru