section.section.section_view_white.section__news
  #anchor-news
  .wrapper
    .wrapper__center
      .block__title.with-link
        h2.h2 Новости
        .block__title-link
          a.link(href="#") Все новости ПАН    
      .complex__news
        .complex__news-item
          .complex__news-content
            .complex__news-date 23 января 2020
            .complex__news-title.h3 
              a(href="#") С 11 февраля произойдет повышение цен в ЖК «Капитал» лот 7—21 и ЖК «Новое Купчино»
            .complex__news-desc Увеличение стоимости коснется всех типов квартир +1000-5000 ₽ с м2
          .complex__news-bottom
            ul.complex__news-badges
              li.complex__news-badge Квартиры
              li.complex__news-badge Происходит в мире
        .complex__news-item
          .complex__news-content
            .complex__news-date 23 января 2020
            .complex__news-title.h3 
              a(href="#") С 11 февраля произойдет повышение цен в ЖК «Капитал» лот 7—21 и ЖК «Новое Купчино»
            .complex__news-desc Увеличение стоимости коснется всех типов квартир +1000-5000 ₽ с м2
          .complex__news-bottom
            ul.complex__news-badges
              li.complex__news-badge Квартиры
              li.complex__news-badge Происходит в мире 