section.section.section_view_white.section__promo
  .wrapper
    .wrapper__center
      .block__title.with-link
        h2.h2 Скидки и акции ЖК Легенда
        .block__title-link
          a.link(href="#") Все акции ПАН
      .complex__promo
        .complex__promo-wrapper
          .complex__promo-left
            .complex__promo-item
              .complex__promo-image
                img(src= require("../../../images/jpg/promo1.jpg"))
              .complex__promo-content
                .complex__promo-body
                  .complex__promo-title.h3 
                    a(href="#") 1 700 000 р. квартира-студия
                  .complex__promo-desc Спешите! Осталось всего 3 студии по супер цене.
                .complex__promo-bottom
                  ul.complex__promo-badges
                    li.complex__promo-badge Квартиры
            .complex__promo-item
              .complex__promo-image
                img(src= require("../../../images/jpg/promo1.jpg"))
              .complex__promo-content
                .complex__promo-body
                  .complex__promo-title.h3 
                    a(href="#") 1 700 000 р. квартира-студия
                  .complex__promo-desc Спешите! Осталось всего 3 студии по супер цене.
                .complex__promo-bottom
                  ul.complex__promo-badges
                    li.complex__promo-badge Квартиры
          .complex__promo-right
            .complex__promo-item
              .complex__promo-image
                img(src= require("../../../images/jpg/promo2.jpg"))
              .complex__promo-content
                .complex__promo-title.h2
                  a(href="#") 1 700 000 р. квартира-студия
                .complex__promo-desc Скидки распространяются на все<br>квартиры с дизайнерской отделкой.
                .complex__promo-bottom
                  ul.complex__promo-badges
                    li.complex__promo-badge Квартиры