.custom-select {
  $c: &;
  border-radius: 4px;
  min-width: 162px;
  position: relative;
  transition: box-shadow $transition-default;
  user-select: none;
  width: 100%;

  &__select-hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  &__selected {
    background-color: $color-brand-opaque-10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 16px 11px;
    cursor: pointer;
    transition: background-color $transition-default;
    border-radius: 4px;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNLjY0Ni42NDZhLjUuNSAwIDAxLjcwOCAwTDQgMy4yOTMgNi42NDYuNjQ2YS41LjUgMCAxMS43MDguNzA4TDQgNC43MDcuNjQ2IDEuMzU0YS41LjUgMCAwMTAtLjcwOHoiIGZpbGw9IiMyQzJFM0UiLz48L3N2Zz4=);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(0);
      transition: transform $transition-default;
      flex-shrink: 0;
      margin-left: auto;
    }

    &:hover {
      background-color: $color-brand-opaque-20;
    }

  }

  &__options {
    @include unlist();
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    transition: box-shadow $transition-default;
  }

  &__option {
    padding: 4px 16px;
    cursor: pointer;

    &:hover {
      background-color: $color-brand-opaque-10;
    }

    &:last-of-type {
      padding-bottom: 8px;
    }
  }

  &.is-active {
    box-shadow: $shadow;
    background-color: #fff;

    & #{$c}__options {
      display: block;
      z-index: 100;
      box-shadow: $shadow;
    }

    & #{$c}__selected {
      border-radius: 4px 4px 0 0;
      background-color: $color-brand-opaque-20;
    }

    & #{$c}__selected:after {
      transform: rotate(180deg);
    }
  }

  &-label {
    margin-right: 15px;
    cursor: pointer;
  }
}

.select {

  &_type {

    &_form {

      .custom-select-label {
        color: $color-brand-3;
        line-height: 25px;
        margin-bottom: 4px;
      }

      .custom-select__selected {
        height: 50px;
        border-radius: 4px;
        box-shadow: inset 0 0 0 1px $color-brand-opaque-20;
        background-color: $color-white;
      }

      .custom-select.is-active {
        .custom-select__selected {
          background-color: $color-white;
          box-shadow: none;
        }
      }
    }
  }
}

